:root {
  --bg: #010716;
}
.whatIdo_container {
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 1rem 0px #010716;
  color: #ffffff;
  padding: 3rem 4rem;
  .hidden {
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
  }
  .icon {
    width: 4.5em;
    height: 4.5em;
    margin-right: auto;
    fill: currentColor;
  }
  .nav {
    left: 0%;
    background: none;
    z-index: 1000;
    border: 0;
    padding: 0;
    margin: 0;
    pointer-events: all;
    transition: transform 0.8s, opacity 0.8s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }
  .nav--next {
    bottom: 1rem;
    left: 1rem;
  }
  .icon--navarrow-next {
    transform: rotate(-45deg);
    transition: 200ms ease-in-out;
  }
  .rotate {
    transform: rotate(45deg);
  }
  .nav--prev {
    top: 1rem;
    left: 1rem;
  }
  .icon--navarrow-prev {
    transform: rotate(-135deg);
  }
  .whatido_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    .whatido_header {
      font-size: 2rem;
      font-weight: bolder;
      font-family: "Kudryashev Headline Sans Web";
    }
    .whatido_skill {
      transition: all 1s ease-in-out;
      border-bottom: 2px solid rgb(255, 255, 255);
      overflow: hidden;
      width: 90%;

      .icon_head {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .skill_head {
          font-size: 5rem;
          font-family: "Kudryashev Headline Sans Web";
          margin-left: auto;
        }
      }
      .whatido_description {
        display: flex;
        flex-direction: column;
        transition: margin 100ms ease-in;
        margin-top: -5rem;
        padding: 1rem 0rem 1rem 1rem;
        gap: 1rem;
        p {
          letter-spacing: 2px;
          word-spacing: 4px;
          font-family: "Century Gothic";
        }
      }
      .move_up {
        margin-top: 0rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  .whatIdo_container {
    padding: 1rem 2rem;
    min-height: auto;
    .icon {
      display: block;
      width: 2.5em;
      height: 2.5em;
      margin: 0 auto;
      fill: currentColor;
    }
    .nav {
      left: 0%;
    }
    .nav--next {
      bottom: 1rem;
      right: 1rem;
    }

    .whatido_content_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: auto;
      align-items: flex-end;
      .whatido_header {
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: "Kudryashev Headline Sans Web";
      }
      .whatido_skill {
        margin-top: auto;
        width: 100%;

        .icon_head {
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          .skill_head {
            font-size: 3.5rem;
            font-family: "Kudryashev Headline Sans Web";
          }
        }
        .whatido_description {
          padding: 1rem 0rem 1rem 1rem;
          font-family: "Century Gothic";
          font-weight: bold;
          margin-top: -5rem;
          transition: margin 100ms ease-in;
        }
        .move_up {
          margin-top: 0rem;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .whatIdo_container {
    padding: 0.5rem;
    .icon {
      display: block;
      width: 2em;
      height: 2em;
      margin: 0 auto;
      fill: currentColor;
    }
    .nav--next {
      bottom: 0rem;
    }
    .whatido_content_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: auto;
      align-items: flex-end;
      .whatido_header {
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: "Kudryashev Headline Sans Web";
      }
      .whatido_skill {
        margin-top: auto;
        width: 100%;

        .icon_head {
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          .skill_head {
            text-align: right;
            font-size: 1.7rem;
            font-family: "Kudryashev Headline Sans Web";
          }
        }
        .whatido_description {
          padding: 1rem 0rem 1rem 1rem;
          font-family: "Century Gothic";
          font-weight: normal;
          margin-top: -5rem;
          word-spacing: 4px;
          letter-spacing: 2px;
          transition: margin 100ms ease-in;
        }
        .move_up {
          margin-top: 0rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .whatIdo_container {
    .skill_head {
      font-size: 1.5rem !important;
    }

    .icon {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
