.discover {
  transform: translateX(20vw);
  .swipe {
    text-align: center;
    transform: translateY(-30px) translateX(-30px);
    width: 100%;
  }
  &__card {
    position: relative;
    background-color: rgb(251, 122, 0);
  }
  &__data {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
  }
  &__title,
  &__description {
    color: var(--white-color);
  }
  &__title {
    font-size: 2rem;
    width: 69%;
    margin-bottom: var(--mb-0-25);
  }
  &__description {
    display: block;
    font-size: var(--smaller-font-size);
  }
  &__img {
    transition: var(--img-transition);
    mix-blend-mode: difference;
    &:hover {
      transform: var(--img-scale);
    }
  }
}
.discover__container,
.place__container {
  padding-top: 2rem;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.home_questionhook_wrapper {
  margin-top: 5rem;
  position: absolute;
  top: 25vh;
  left: -10vw;
  right: auto;
  bottom: auto;
  height: 60%;
  transform: translateY(-0%);
  width: 120vw;
  gap: 1rem;
  color: blanchedalmond;
  .hook_row {
    gap: 3rem;
    display: flex;
    margin: 2rem;
    align-items: center;
    width: 100%;
    .hook2,
    .hook3,
    .hook6 {
      -webkit-text-stroke: 1px rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif !important;
      color: transparent;
      font-weight: bolder;
    }
    .hook1:hover,
    .hook2:hover,
    .hook3:hover,
    .hook4:hover,
    .hook5:hover,
    .hook6:hover {
      opacity: 0.4;
    }
    .question_hook {
      stroke: #383737;
      stroke-width: 6;
      font-size: 5rem;

      stroke-width: 9px;
      flex-wrap: nowrap;
      display: flex;
      text-transform: uppercase;
      font-family: "Kudryashev Headline Sans Web";
      font-weight: bolder;
      position: relative;
      .img_hook_responsive {
        display: none;
      }
    }
  }
}
@media (max-width: 1450px) {
  .discover {
    &__card {
      width: 237px;
    }
    &__container {
      width: 700px;
    }
    &__data {
      left: 1.5rem;
      bottom: 2rem;
    }
  }

  .home_questionhook_wrapper {
    margin-top: 5rem;
    position: absolute;
    inset: 20% 0 0 -5% !important;
    transform: translateX(-100px);
    width: 110vw;
    gap: 1rem;

    .hook_row {
      gap: 2rem;
      padding: 1rem 0;
      display: flex;
      align-items: center;
      width: 100%;

      .question_hook {
        font-size: 3rem !important;

        .hook_img {
          inset: -190px 0 0 130px;
          height: 400px;
          width: 400px;
        }
      }
    }
  }
}
@media (max-width: 830px) {
  .discover {
    transform: translateX(17vw) translateY(5vh);
    &__img {
      width: 60%;
      height: 60%;
    }
  }

  .discover__container,
  .place__container {
    padding-top: 2rem;
  }

  .home_questionhook_wrapper {
    margin-top: 0rem !important;
    position: relative !important;
    transform: translateX(30px) !important;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    width: auto !important;
    gap: 2rem !important;

    .hook_row {
      gap: 2rem !important;
      transform: translateY(0px);
      margin: auto !important;
      display: flex;
      width: auto !important;
      flex: 1 0 100%;
      .question_hook {
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-blend-mode: darken;
        font-size: 1.8rem !important;
        height: 70vh;
        margin: auto;
        display: flex;
        justify-content: center;
        width: 70vw;
        margin: 1rem;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        .img_hook_responsive {
          object-fit: contain;
          margin: auto;
          z-index: -1;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .discover {
    transform: translateX(17vw) translateY(10vh);
    &__img {
      width: 70%;
      height: 70%;
    }
  }
  .home_questionhook_wrapper {
    margin-top: 0rem !important;
    text-align: center;
    height: auto !important;
    justify-content: center;
    inset: 20% 0 0 -1% !important;
    gap: 1rem;
    .hook_row {
      gap: 1rem !important;

      .question_hook {
        font-size: 1.2rem !important;
        .hook_img {
          inset: -60px 0 0 50px !important;
          height: 200px !important;
          width: 200px !important;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .discover {
    transform: translateX(15vw) translateY(17vh);
  }
}
@media (max-width: 450px) {
  .discover {
    transform: translateX(8vw) translateY(8vh);
    &__img {
      width: 80%;
      height: 100%;
    }
  }
  .question_hook {
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-blend-mode: darken;
    font-size: 1.8rem !important;
    height: 50vh !important;
    margin: auto;
    display: flex;
    width: 70vw;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    .img_hook_responsive {
      object-fit: contain;
      margin: auto;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 360px) {
  .discover {
    transform: translateX(5vw) translateY(-5vh);
    &__img {
      width: 90%;
      height: 90%;
    }
  }
}
