*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  --color-text: #f1f1f1;
  --color-bg: #131925;
  --color-link: #1ab3de;
  --color-link-hover: #f1f1f1;
  --color-deco: #131925;
  --color-side: rgba(252, 165, 60, 0.5);
  font-family: Futura, "futura-pt", sans-serif;
  min-height: 100vh;
  color: #57585c;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // padding-top: 10rem;
}
/* Page Loader */
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
  fill: white;
}

.slideshow {
  position: relative;
  cursor: default;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100%;
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 0.5%;
  grid-template-rows: 100%;
  grid-template-areas: "... slide ...";
}

.slide {
  width: 100%;
  display: flex;
  pointer-events: none;
  cursor: pointer;
  position: relative;
  height: 100%;
  grid-area: slide;
}

.slideshow--previewopen .slide {
  cursor: default;
}

.slide--current {
  pointer-events: auto;
}

.slide__img-wrap {
  width: 100%;
  overflow: hidden;
  z-index: 100;
  height: 80%;
  top: 10%;
  position: absolute;
  border-right: 0.01px solid var(--color-deco);
}

.slideshow__deco {
  grid-area: slide;
  background: var(--color-deco);
  width: 100%;
  height: 80%;
  align-self: center;
  position: relative;
  margin: -40px 0 0 0;
  right: -20px;
}

.nav {
  position: absolute;
  background: none;
  width: 3rem;
  height: 3rem;
  z-index: 1000;
  border: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  transition: transform 0.8s, opacity 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.nav--next {
  bottom: 1rem;
  right: 1rem;
}

.icon--navarrow-next {
  transform: rotate(45deg);
}

.nav--prev {
  top: 1rem;
  left: 1rem;
}

.icon--navarrow-prev {
  transform: rotate(-135deg);
}

.slideshow--previewopen .nav {
  opacity: 0;
  transition-duration: 0.4s;
}

.slideshow--previewopen .nav--next {
  transform: translate3d(100%, 100%, 0);
}

.slideshow--previewopen .nav--prev {
  transform: translate3d(-100%, -100%, 0);
}

.slide__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  pointer-events: none;
  transform: scale3d(1.01, 1.01, 1);
}

.js .slide__img-wrap,
.js .slide__title-wrap,
.js .slide__side {
  opacity: 0;
  pointer-events: none;
}

.js .slide--current .slide__img-wrap {
  opacity: 1;
  pointer-events: auto;
}

.slide--visible .slide__img-wrap {
  pointer-events: auto;
}

.slide__title-wrap {
  justify-self: flex-end;
  width: 100%;
  position: relative;
  z-index: 1000;
  color: rgb(255, 255, 255);
}

.slide__number {
  display: block;
  font-size: 2rem;
  font-family: "Kudryashev Headline Sans Web";
  font-weight: bolder;
}

.slide__number::before {
  content: "\2014";
  display: inline-block;
  margin: 0 1rem 0 0;
}
.slide__title {
  font-family: "Kudryashev Headline Sans Web";
}
.slide__title,
.slide__subtitle,
.slide__side {
  display: none;
  font-weight: bolder;
  font-size: 1rem;
}
.slide__subtitle {
  font-family: "Century Gothic";
  font-weight: bold;
}
.content {
  position: fixed;
  top: 10rem;
  left: 0;
  width: 100%;
  height: calc(100% - 10rem);
  pointer-events: none;
  z-index: 100;
}

.content__item {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10vh 5vw;
  overflow: auto;
  color: rgb(255, 255, 255);
}

.content__item--current,
.content__item--current ~ .content__close {
  pointer-events: auto;
}
.content__close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.icon--longarrow {
  width: 2rem;
}

.content__close:focus {
  outline: none;
}

.content__number {
  font-weight: bold;
}

.content__number::before {
  content: "\2014";
  display: inline-block;
  margin: 0 1rem 0 0;
}

.content__title {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-family: "Kudryashev Headline Sans Web";
}

.content__subtitle {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.content__text {
  text-align: center;
  font-size: 1.5rem;
  text-transform: none;
}

.js .content__title,
.js .content__subtitle,
.js .content__number,
.js .content__text,
.js .content__close {
  opacity: 0;
}

@media screen and (min-width: 53em) {
  body {
    padding: 0;
  }

  .codrops-header__title {
    padding: 0 0.5rem;
  }

  .slideshow {
    height: 100vh;
    grid-template-columns: 27% 27% 27%;
    grid-column-gap: 9.5%;
  }
  .slide {
    padding: 10vh 0 7vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .slide__side {
    margin: 0 0 0 -1.85rem;
  }
  .slide__title-wrap {
    margin: 0 0 0 -1.85rem;
  }
  .slide__title,
  .slide__subtitle,
  .slide__side {
    display: block;
  }
  .slide__title {
    font-size: 3.25rem;
    margin: 0 0 0.25rem;
  }
  .slide__subtitle {
    font-weight: normal;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin: 0;
    min-height: 50px;
  }
  .slide__side {
    color: var(--color-side);
    position: relative;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    z-index: 1000;
  }
  .content {
    top: 0;
    height: 100%;
  }
  .content__item {
    padding: calc(10vh + 5rem) 0 7vh;
    width: 50.5%;
    right: 7.5%;
    overflow: visible;
  }
  .content__close {
    left: 42%;
    top: calc(10vh + 1rem);
  }
  .content__number {
    position: absolute;
    bottom: 7vh;
    right: 0;
    font-size: 2rem;
  }
  .content__title {
    font-size: 7vw;
  }
  .content__subtitle {
    font-size: 1.5rem;
    margin-bottom: 7.5vh;
  }
  .content__text {
    font-size: 1.2rem;
    column-count: 2;
    column-gap: 2rem;
    max-width: 600px;
    text-align: justify;
    .showingp_link {
      transform: translateY(40px) translateX(-60%);
      font-size: 1rem;
      left: auto;
      right: auto;
      border-bottom: 2px solid rgb(255, 255, 255);
      position: absolute;
      transition: all 400ms ease;
      &:hover {
        border-bottom: 2px solid var(--color-side);
        color: var(--color-side);
      }
    }
  }
}
@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }

  .content__item {
    color: #ffffff;
  }
  .slide__img-wrap {
    border-right: none;
  }

  .slideshow {
    height: 100vh;
    grid-template-columns: 27% 27% 27%;
    grid-column-gap: 9.5%;
  }
  .slide {
    padding: 10vh 0 7vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .slide__side {
    margin: 0 0 0 -1.85rem;
  }
  .slide__title-wrap {
    margin: 0 0 0 -1.85rem;
  }
  .slide__title,
  .slide__subtitle,
  .slide__side {
    color: rgb(255, 255, 255);
    display: block;
  }
  .slide__title {
    font-size: 3.25rem;
    margin: 0 0 0.25rem;
  }
  .slide__subtitle {
    font-weight: normal;
    margin: 0;
    min-height: 50px;
  }
  .slide__side {
    color: var(--color-side);
    position: relative;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    z-index: 1000;
  }
  .content__close {
    color: white;
  }
  .content {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0%;
    bottom: 20%;
  }
  .content__item {
    padding: calc(10vh + 5rem) 0 7vh;
    width: 90.5%;
    right: 7.5%;
    overflow: hidden;
    text-align: center;
  }
  .content__close {
    left: 42%;
    top: calc(10vh + 1rem);
  }
  .content__number {
    position: absolute;
    bottom: 80%;
    right: 0;
    font-size: 2rem;
  }
  .content__title {
    font-size: 5rem !important;
  }
  .content__subtitle {
    font-size: 1.15rem;
    margin-bottom: 7.5vh;
  }
  .content__text {
    font-size: 1rem !important;
    column-count: 1;
    .showingp_link {
      font-size: 1rem;
      transform: translateX(140%);
      left: auto;
      margin: 3rem;
      right: auto;
      border-bottom: 2px solid rgb(255, 255, 255);
      position: absolute;
    }
  }
  .content__title {
    font-size: 5rem !important;
  }
  .content__subtitle {
    font-size: 1.5rem;
    margin-bottom: 7.5vh;
  }
  .content__number {
    right: 0;
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .content__title {
    font-size: 2rem !important;
  }
  .content__subtitle {
    font-size: 1rem;
    margin-bottom: 7.5vh;
  }
  .slide__title {
    font-size: 2rem;
  }
  .slide__subtitle,
  .slide__side {
    font-size: 15px !important;
  }
  .content__text {
    font-size: 1rem !important;
    column-count: 1;
    .showingp_link {
      transform: translateY(0px) translateX(70%);
    }
  }
}

@media screen and (max-width: 400px) {
  .showingp_link {
    transform: translateY(0px) translateX(20%) !important;
  }
}
