.word {
  font-size: 8rem;
  font-family: "Kudryashev Headline Sans Web";
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: white;
  color: transparent;
  filter: drop-shadow(0 0 0.35rem black);
  margin: 0;
  line-height: 1;
  z-index: 2;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform: translateZ(550px);
}

.word span {
  cursor: pointer;
  display: inline-block;
  transform-style: preserve-3d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0.8;
}

.word span:nth-child(1).active {
  -webkit-animation: balance 1.5s ease-out 2;
  animation: balance 1.5s ease-out 2;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

@-webkit-keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.word span:nth-child(2).active {
  -webkit-animation: shrinkjump 1s ease-in-out 2;
  animation: shrinkjump 1s ease-in-out 2;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

@-webkit-keyframes shrinkjump {
  10%,
  35% {
    -webkit-transform: scale(2, 0.2) translate(0, 0);
    transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    -webkit-transform: scale(1) translate(0, -150px);
    transform: scale(1) translate(0, -150px);
  }
  80% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

@keyframes shrinkjump {
  10%,
  35% {
    -webkit-transform: scale(2, 0.2) translate(0, 0);
    transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    -webkit-transform: scale(1) translate(0, -150px);
    transform: scale(1) translate(0, -150px);
  }
  80% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(6).active {
  -webkit-animation: falling 6s ease-out 1;
  animation: falling 6s ease-out 1;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

@-webkit-keyframes falling {
  12% {
    -webkit-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  24% {
    -webkit-transform: rotateX(150deg);
    transform: rotateX(150deg);
  }
  36% {
    -webkit-transform: rotateX(200deg);
    transform: rotateX(200deg);
  }
  48% {
    -webkit-transform: rotateX(175deg);
    transform: rotateX(175deg);
  }
  60%,
  85% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@keyframes falling {
  12% {
    -webkit-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  24% {
    -webkit-transform: rotateX(150deg);
    transform: rotateX(150deg);
  }
  36% {
    -webkit-transform: rotateX(200deg);
    transform: rotateX(200deg);
  }
  48% {
    -webkit-transform: rotateX(175deg);
    transform: rotateX(175deg);
  }
  60%,
  85% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes rotate {
  20%,
  80% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate {
  20%,
  80% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  z-index: 33;
  -webkit-animation: toplong 3.5s 1;
  animation: toplong 3.5s 1;
}

@-webkit-keyframes toplong {
  10%,
  40% {
    -webkit-transform: translateY(-48vh) scaleY(2);
    transform: translateY(-48vh) scaleY(2);
  }
  90% {
    -webkit-transform: translateY(-48vh) scaleY(8);
    transform: translateY(-48vh) scaleY(8);
  }
}

@keyframes toplong {
  10%,
  40% {
    -webkit-transform: translateY(-48vh) scaleY(2);
    transform: translateY(-48vh) scaleY(2);
  }
  90% {
    -webkit-transform: translateY(-48vh) scaleY(8);
    transform: translateY(-48vh) scaleY(8);
  }
}
@media (max-width: 900px) {
  .word {
    font-size: 5.5rem !important;
  }
}
@media (max-width: 650px) {
  .word {
    margin: auto;
    font-size: 3.8rem !important;
    line-height: 1.1;
  }
}
@media (max-width: 440px) {
  .word {
    margin: auto;
    font-size: 2.5rem !important;
    line-height: 1.1;
    font-weight: 900;
  }
}
