// @font-face {
//   // font-family: "Bogart-Semibold";
//   src: url("https://assets.codepen.io/383755/bogart-semibold.woff2")
//     format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }
:root {
  --bg: rgb(9, 14, 23);
  --primary: turquoise;
  --gradientBg: linear-gradient(
    45deg,
    #ffffff,
    #b3b3b3,
    #727272,
    rgb(184, 169, 144)
  );
  --cursor-fill: none;
  --cursor-stroke: #ffffff;
  --cursor-stroke-width: 4px;
}
$bg: #eeece5;
$y: #a58725;
$b: #00eded;
$w: $bg;
$o: #fe4e01;
$p: #eb98b4;
$g: #08350e;
$elastic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$expo: cubic-bezier(1, 0.885, 0.32, 1);

@mixin magic-border($width, $color, $duration, $direction) {
  position: absolute;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, $o 50%, $y 50%) 50% 100% / 100% 200%
      no-repeat;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform $duration ease-in-out,
      background-position $duration ease-in-out;
    transition-delay: $duration * 2.5, $duration * 3;
  }
  &:before {
    content: "";
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/ -1);
    left: calc(#{$width}/ -1);
    background: linear-gradient(to right, $color 0%, $color 100%),
      linear-gradient(to top, $color 50%, transparent 50%),
      linear-gradient(to top, $color 50%, transparent 50%),
      linear-gradient(to right, $color 0%, $color 100%),
      linear-gradient(to left, $color 0%, $color 100%);
    background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out,
      background-position $duration ease-in-out,
      background-size $duration ease-in-out, box-shadow $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration * 2, $duration, 0s, $duration * 3;
  }
  &:hover {
    &:after {
      transform: scaleY(1);
      transform-origin: top;
      background-position: 50% 0%;
    }
    &:before {
      background-size: 200% $width, $width 400%, $width 400%, 55% $width,
        55% $width;
      background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration * 2;
    }
  }
}

.content--intro {
  width: 100%;
  z-index: 100;
  background-color: transparent;
  height: 100vh;
  overflow: hidden;
}


.btn__item {
  list-style-type: none;
  width: 100%;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
}
.skoll-button {
  background-color: blue;
  pointer-events: auto;
  letter-spacing: 2px;
  cursor: pointer;
  background: #fca53c;
  color: black;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.skoll-button::before,
.skoll-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--skoll {
  position: absolute;
  top: 2%;
  right: 5%;
  overflow: hidden;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  padding: 0;
  font-weight: 500;
  z-index: 4;
  box-shadow: 1px 1px 1rem 0px white;
}

.button--skoll span {
  display: block;
  position: relative;
}

.button--skoll > span {
  overflow: hidden;
}

.button--skoll:hover > span > span {
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

.button--skoll::before {
  content: "";
  background: rgb(233, 233, 233);

  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.button--skoll:hover::before {
  transform: translate3d(0, 100%, 0);
}

.projects_content__inner {
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
.scroll-content {
  perspective: 1000px;
  flex-direction: column;
  height: 100vh;
  flex: 1 0 100%;
  flex: none;
  display: flex;
  position: relative;
}
.box {
  cursor: none;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  z-index: 5;
  justify-content: center;
  flex-direction: column;
  .masked_content {
    display: flex;
    flex-direction: column;
    // width: 100vw;
    background-color: white;
    position: relative;
    justify-content: flex-start;
    align-items: center;
  }
  .masked_content {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #ffffff;
  }

  /* Reset */

  .wrapper {
    position: relative;
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: 84rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* Text */
  .hero__heading {
    font-size: clamp(2rem, 8vw, 8rem);
    line-height: 1.1;
    font-weight: 900;
    margin: 0;
  }
  .hero--primary {
    position: relative;
  }
  .hero--primary .hero__heading {
    font-family: "Kudryashev Headline Sans Web";
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: white;
    color: transparent;
    filter: drop-shadow(0 0 0.35rem black);
  }

  /* Text animation */
  .hero--primary .hero__heading .char {
    display: inline-block;
    font-family: "Kudryashev Headline Sans Web";
  }
  .button {
    perspective: 1000px;
    transform-style: preserve-3d;
    pointer-events: auto;
    cursor: none;
    display: flex;
    gap: 1.5rem;
    background: none;
    margin: auto;
    list-style-type: none;
    border: none;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    z-index: 5;
    transition: all 300ms ease-in-out;
  }

  .button::before,
  .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .button--calypso {
    transform: translateZ(130px);
    background: #131925;
    overflow: hidden;
    font-family: "Century Gothic";
    font-size: 1.15rem;
    border-radius: 0.85rem;
    transition: all 0.5s ease;
    color: #fff;
    box-shadow: 0px 0px 1rem 0px #010716;
  }

  .button--calypso span {
    display: block;
    position: relative;
    mix-blend-mode: difference;
    z-index: 10;
  }

  .button--calypso:hover span {
    animation: MoveScaleUpInitial 0.3s forwards,
      MoveScaleUpEnd 0.3s forwards 0.3s;
  }

  @keyframes MoveScaleUpInitial {
    to {
      transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
      opacity: 0;
    }
  }

  @keyframes MoveScaleUpEnd {
    from {
      transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .button--calypso::before {
    content: "";
    background: rgb(196, 196, 196);
    width: 120%;
    height: 0;
    padding-bottom: 120%;
    top: -110%;
    left: -10%;
    border-radius: 50%;
    transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
  }

  .button--calypso:hover::before {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }

  .button--calypso::after {
    content: "";
    background: rgb(255, 255, 255);
    transform: translate3d(0, -100%, 0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  }

  .button--calypso:hover::after {
    transform: translate3d(0, 0, 0);
    transition-duration: 0.05s;
    transition-delay: 0.4s;
    transition-timing-function: linear;
  }
  .role {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 30px;
    .block {
      width: 0%;
      height: inherit;
      background: #fca53c;
      position: absolute;
      animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      animation-delay: 2s;
      display: flex;
    }
    p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      margin: auto;
      font-weight: 400;
      font-family: "Century Gothic";
      color: #ffffff;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 15px;
    }
  }
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.content--intro .projects_content__inner {
  background: var(--color-content);
  cursor: none;
}
.home_navigation {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  background: var(--color-content);
  z-index: 900;
  clip-path: circle(0% at 96% 7%);
  transition: clip-path 1s ease-in;
}
.home_navigation.open {
  clip-path: circle(100%);
}
.content h2 {
  margin: 0;
}
.text_content {
  flex: none;
  width: 100%;
}

.enter {
  perspective: 1000px;
}
.enter_wrapper {
  margin: -10vh auto 0 auto;
  margin-bottom: auto;
}
.enter {
  font-size: 1.5em;
  display: flex;
  letter-spacing: 3px;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  white-space: pre;
  color: var(--color-enter);
  transform: rotate(-39deg);
  pointer-events: auto;
  transition: transform 400ms ease-out;
}

.enter div {
  background: var(--color-content);
  transform: translateY(170%);

  z-index: 25;
}
.enter .circle {
  border-radius: 50%;
  border: 3px solid white;
  width: 70px;
  height: 70px;
}
.enter:hover,
.enter:focus {
  color: var(--color-enter);
  transform: rotate(0deg);
}

.enter span {
  display: inline-block;
}

.explore {
  background: var(--color-subtitle);
  color: var(--color-title);
  padding: 0.5em 1em;
}

.explore:hover,
.explore:focus {
  background: var(--color-text);
}

@media (max-width: 1025px) {
  .button--skoll {
    width: 50px !important;
    height: 50px !important;
    font-size: 12px;
  }
  .bubblebackground {
    top: -100%;
  }
  .hero--primary {
    margin-top: auto;
  }
  .hero__heading {
    font-size: 5.5rem !important;
  }
  .box {
    height: 50%;
    .masked_content {
      margin-top: auto;
    }
    .button {
      padding: 0.75rem 2rem;
    }

    .role {
      margin: 1rem;
      p {
        font-size: 19px !important;
        letter-spacing: 15px;
      }
    }
  }
}
@media (max-width: 630px) {
  .button--skoll {
    width: 40px !important;
    height: 40px !important;
    font-size: 11px;
  }
  .hero__heading {
    margin: auto;
    font-size: 3.4rem !important;
    line-height: 1.1;
  }

  .box {
    width: auto;
    cursor: auto;
    .button {
      padding: 0.75rem 1.5rem;
    }

    .role {
      margin-top: 2rem;
    }
  }
  .entermobile{
    padding: .50rem 2rem;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
  }
  .enter {
    font-size: 1em;
    letter-spacing: 3px;
    pointer-events: auto;
  }
  .enter .circle {
    border-radius: 50%;
    border: 3px solid white;
    width: 50px;
    height: 50px;
  }

  .box {
    .button {
      padding: 0.75rem 2rem;
      font-size: inherit;
    }
    .button--calypso {
      font-size: 1.15rem;
      transform: translateZ(70px);
    }
    .role {
      p {
        color: #ffffff;
        font-size: 11px;
        letter-spacing: 5px;
      }
    }
  }
}
@media (max-width: 400px) {
  .content--intro .button--skoll {
    width: 20px;
  }
  .hero__heading {
    font-size: 2.5rem !important;
    line-height: 1.1;
    font-weight: 900;
  }
  .box {
    .button {
      padding: 1rem !important;
      font-size: 15px;
    }
    .role {
      height: 20px;
      p {
        font-size: 14px !important;
      }
    }
  }
}
@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0;
  }
  .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
  }
}
