:root {
  --in: #dd91a6;
  --go: #a0c3b8;
}
ul {
  list-style-type: none;
}
.navigation {
  z-index: 199;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0%;
  .appname-container {
    display: flex;
    font-size: 2rem;
    transform: translateY(-4px);
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    .in {
      color: var(--in);
    }
    .go {
      color: var(--go);
    }
  }
  .selection {
    display: flex;
    gap: 1.5rem;
    margin-right: auto;
    font-weight: 600;
    font-size: 13px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .stylish-hamburger {
    margin-left: auto;
    .hamburger {
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      position: relative;
      box-shadow: 0px 0px 1rem 0px rgba($color: #000000, $alpha: 0.4);
      padding: 0.4rem;
      .line1,
      .line2,
      .line3 {
        width: 10px;
        margin: 0.1rem;
        height: 2px;
        background-color: var(--go);
      }
      .line2 {
        transform: translateX(-3px);
      }
      .line3 {
        transform: translateX(3px);
      }
    }
  }
}
