.home_intro_section {
  font-family: "Century Gothic";
  min-height: 100vh;
  margin-bottom: 7rem;
  font-weight: bold;
  position: relative;
  font-size: 8rem;
  letter-spacing: 0px;
  p {
    .highlight {
      color: #fca53c;
      position: relative;
      span {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 50px 0 0 0;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='200%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:%23a58725; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
          0px 65px / 80px 80px repeat-x;
        padding: 20px 0;
        margin: 0px 0;
        animation: waving 3s linear infinite;
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:#{$i * -0.25}s; stroke:%23a58725; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
              30px
              65px /
              180px
              190px;
          }
        }
      }
      @keyframes waving {
        to {
          background-position: 200px 65px;
        }
      }
      @keyframes waving2 {
        to {
          background-position: 200px 10px;
        }
      }
    }
    .important {
      -webkit-text-stroke: 2px rgb(255, 255, 255);
      color: transparent;
    }
  }
}

@media (max-width: 1100px) {
  .home_intro_section {
    font-size: 5.5rem;
    min-height: auto !important;
    p {
      .highlight {
        color: #fca53c;
        position: relative;
        span {
          display: none;
        }
      }
    }
  }
}
