h1,
h2,
h3,
h4 {
  font-weight: bolder;
  font-family: "Kudryashev Headline Sans Web";
}
.home {
  --font-size: 3rem;
}
.home {
  padding: 1rem 3rem;

  .home_first_section {
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    img {
      position: absolute;
      transform: rotate(45deg);
      left: -13%;
      bottom: 0%;
      top: 10%;
      z-index: 3;
      mix-blend-mode: difference;
      width: 70%;
    }
    .home_content_box {
      display: flex;
      position: relative;
      width: 100%;
      margin: 6rem 0rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      // z-index: 1;
      .role_text {
        font-size: 2rem;
        margin-top: auto;
      }
      .home_demo_project_showcase_sub,
      .home_demo_project_showcase {
        font-size: 4rem;
      }
      .home_demo_project_showcase_sub {
        span {
          // color: yellow;
          font-size: 4rem;
          padding-right: 2rem;
        }
      }
      .home_btn_wrapper {
        margin-top: 3rem;
        font-size: 17px;
        transition: 0.5s ease;
        margin: 4rem 6rem 0 auto;
        margin-bottom: auto;

        .btn_mobile-tablet {
          transform: translateX(40px);
          border: 2px solid white;
          padding: 0.5rem 2rem;
          border-radius: 15px;
          margin: auto;
          &:hover {
            color: black;
          }
        }
      }

      .home_btn {
        font-size: 1.5em;
        perspective: 1000px;
        display: flex;
        letter-spacing: 3px;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-weight: bold;
        white-space: pre;
        color: var(--color-enter);
        transform: rotate(-39deg);
        pointer-events: auto;
        transition: transform 400ms ease-out;
      }

      .home_btn a {
        background: var(--color-content);
        transform: translateY(170%);
        z-index: 25;
      }
      .home_btn .circle {
        border-radius: 50%;
        border: 3px solid white;
        width: 70px;
        height: 70px;
      }
      .home_btn:hover,
      .home_btn:focus {
        color: var(--color-enter);
        transform: rotate(0deg);
      }
      .enter span {
        display: inline-block;
      }
    }
  }
  .hook_container {
    position: relative;
    height: 100vh;
    margin-bottom: 4rem;
  }
  .home_second_section {
    display: flex;
    height: 100%;
    margin-top: 6rem;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    .hook_img {
      position: absolute;
      inset: 100px 0 0 0px;
      height: 70%;
      width: 400px;
      margin: auto;
      pointer-events: none;
      z-index: -1;
      .img_hook {
        position: absolute;
        object-fit: contain;
        width: 100%;
        height: 100%;
        transition: opacity 400ms ease-in-out;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
      }
    }
    .home_question_hook {
      font-size: 1.5rem;
      text-align: center;
      font-family: "Century Gothic";
      width: 50%;
      margin: 0rem auto 4rem auto;
    }
  }
}

@media (max-width: 1450px) {
  .home_second_section {
    display: flex;
    height: 100%;
    margin-top: 6rem;
    position: relative;
    flex-direction: column;
    .home_question_hook {
      font-size: 1.5rem;
      text-align: center;
      font-family: "Century Gothic";
      width: 50%;
      margin: 0rem auto 4rem auto;
    }
  }
}

@media (max-width: 1100px) {
  .home {
    padding: 1rem;
  }

  .home_first_section {
    min-height: auto !important;
    img {
      left: -20%;
      transform: translateY(8%) !important;

      width: 40%;
    }
    .home_content_box {
      margin-top: auto;
      flex: none;
      text-align: right;
      height: 100%;
      .role_text {
        font-size: 1rem;
        margin-top: auto;
      }
      .home_demo_project_showcase_sub {
        font-size: 2rem;
      }
      .home_demo_project_showcase {
        font-size: 3rem;
      }
      .home_demo_project_showcase_sub {
        span {
          font-size: 2rem;
        }
      }
      .home_btn {
        margin-top: auto;
        font-size: 12px;
      }
    }
  }

  .home_second_section {
    .home_questionhook_wrapper {
      inset: 0% 0 0 -5% !important;
      .hook_row {
        transform: translateY(100px);
        width: 100%;

        .question_hook {
          font-size: 2.5rem !important;

          .hook_img {
            display: none;
            inset: -190px 0 0 130px;
          }
        }
      }
    }
  }

  .footer_links {
    height: 5vh !important;
  }
}
@media (max-width: 800px) {
  .home {
    padding: 1rem;
    .home_intro_section {
      font-size: 3.5rem !important;
    }
  }
  .aboutus_text {
    font-size: 3.5rem !important;
  }
  .home_first_section {
    min-height: auto !important;

    img {
      left: -20%;
      transform: translateY(8%) !important;

      width: 40%;
    }
    .home_content_box {
      flex: none;
      height: 100%;
      .role_text {
        font-size: 1rem;
        margin-top: auto;
      }
      .home_demo_project_showcase_sub {
        font-size: 1.8rem !important;
      }
      .home_demo_project_showcase {
        font-size: 2rem !important;
      }
      .home_demo_project_showcase_sub {
        span {
          font-size: 1.8rem !important;
          font-weight: bolder !important;
        }
      }
      .btn_mobile-tablet .home_btn_wrapper {
        margin-top: 4rem !important;
        color: black;
        font-size: 17px;
        margin: 4rem 6rem 0 auto;
      }

      .home_btn .circle {
        width: 50px !important;
        height: 50px !important;
      }
      .home_btn {
        font-size: 16px !important;
      }
    }
  }
  .home_third_section_text_wrapper {
    margin-top: 4rem !important;
    width: 100% !important;
    text-align: center;
    font-size: 1.2rem;
  }

  .question_hook_container {
    width: 100%;
    transform: translateY(40px);
    margin: 4rem 0rem;
    // overflow-y: hidden;
    // overflow-x: scroll;
    // height: 100vh;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .large_btn {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    transform: translate(-20px, -60px);
  }
  .home_second_section {
    margin: 0rem !important ;
    height: 100vh !important;
    margin-top: 6rem;

    .home_question_hook {
      font-size: 1.5rem !important;
      width: 100% !important;
      margin: 0rem auto 0rem auto !important;
    }
  }
}

@media (max-width: 650px) {
  .home {
    padding: 1rem;
    .home_intro_section {
      font-size: 2rem !important;
      p {
        .important {
          -webkit-text-stroke: 1px rgb(255, 255, 255);
          color: transparent;
        }
      }
    }
  }
  .aboutus_text {
    font-size: 2rem !important;
  }
  .home_btn_wrapper {
    margin-top: 4rem !important;
    font-size: 17px;
    margin: 4rem 5vw 0 auto !important;
    transform: translateX(-14px);
  }
  .about_content_wrapper {
    padding: 0rem !important;
  }
  .aboutus_text {
    padding: 1rem !important;
  }
  .sub_text {
    width: 100%;
    align-items: center !important;
    .availability {
      ul li {
        font-size: 1.1rem !important;
      }
    }
    .getintouch {
      font-size: 1rem !important;
      flex-direction: column;

      width: 100%;
      span {
        flex: 0 0 0% !important;
      }
    }
  }

  .fourth_section_header {
    font-size: 3rem !important;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .more-project_link {
    margin-top: 0rem;
    .see-more_link {
      font-size: 1rem;
      color: var(--color-text);
    }
  }
}
@media (max-width: 400px) {
  .question_hook_container {
    transform: translateY(120px);
    margin: 4rem 0rem 0rem 0rem;
    height: auto;
  }
  .home_btn_wrapper {
    transform: translateX(-100px);
  }
  .fourth_section_header {
    font-size: 2rem !important;
  }
  .lorem {
    padding: 1rem;
  }

  .chat_icon {
    width: auto;
    height: auto;
    img {
      width: 100px !important;
      height: 100px;
      object-fit: contain;
    }
  }

  .footer_links {
    font-size: 13px;
  }
}
