.section-testimonials {
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include respond(tablet-landscape) {
    //   height: auto;
  }

  @include respond(tablet-portrait) {
    // padding: 4rem 8rem;
    background-size: 76%;
  }

  @include respond(mobile) {
    // padding: 2.4rem;
    align-items: flex-start;
  }
}
