.home_about_us_wrapper {
  .large_btn {
    display: flex;
    font-family: "Century Gothic";
    padding-top: 6rem;
    position: relative;
    .hidden {
      overflow: hidden;
      width: 0;
      height: 0;
      pointer-events: none;
    }
    .icon {
      display: block;
      margin: 0 auto;
      width: 5.5em;
      height: 5.5em;
      fill: currentColor;
    }

    .nav {
      background: none;
      width: 100%;
      height: auto;
      z-index: 1000;
      transform: translate(20px, -30px);
      pointer-events: all;
      transition: transform 0.8s, opacity 0.8s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }

    .icon--navarrow-next {
      transform: rotate(-45deg);
      transition: transform 400ms ease-in-out;
    }
    .large_btn_btn__item {
      width: 100%;
      display: flex;
      margin: 1rem;
      transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
      font-size: 3rem;
    }
    .large_btn_skoll-button {
      transform: rotate(15deg);
      pointer-events: auto;
      letter-spacing: 2px;
      cursor: pointer;
      background: #fca53c;
      color: black;
      position: relative;
      display: inline-block;
      transition: transform 300ms ease-in-out;
    }

    .large_btn_skoll-button::before,
    .large_btn_skoll-button::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .large_btn_button--skoll {
      overflow: hidden;
      border-radius: 50%;
      color: #000000;
      width: 300px;
      height: 300px;
      font-weight: 500;
      z-index: 4;
    }
    .skoll1 {
      margin-left: auto;
    }
    .large_btn_button--skoll .btn_wrapper {
      position: relative;
      .btn_text {
        transform: translateY(50px);
        font-size: 2rem;
        letter-spacing: -1px;
        padding: 0 3rem;
        font-weight: bold;
      }
    }
    .large_btn_button--skoll:hover {
      .icon--navarrow-next {
        transform: rotate(1400deg);
      }
      transform: rotate(0deg);
    }
    .large_btn_button--skoll:hover > .btn_wrapper > .btn_text {
      animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
    }

    .large_btn_button--skoll::before {
      content: "";
      background: rgb(233, 233, 233);
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 50%;
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    }

    .large_btn_button--skoll:hover::before {
      transform: translate3d(0, 100%, 0);
    }
  }
  .about_content_wrapper {
    display: flex;
    font-family: "Century Gothic", sans-serif;
    margin: 2rem auto 2rem auto;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    .aboutus_text {
      font-size: 8.5rem;
      padding: 3rem 0 3rem 3rem;
      margin: auto;
      span {
        color: tomato;
        padding-bottom: 1rem;
        border-bottom: 3px solid tomato;
      }
    }
    .sub_text {
      display: flex;
      gap: 1rem;
      justify-content: space-around;
      flex-direction: column;
      align-items: flex-start;
      .availability {
        ul li {
          font-size: 2rem;
          span {
            color: aqua;
            font-weight: bolder;
          }
        }
      }
      .getintouch {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        span {
          flex: 1 0 10%;
        }
        .getintouch_content__item {
          width: 100%;
          height: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
        }

        .getintouch_content__item::before {
          position: absolute;
          top: 0;
          left: 0;
        }

        .getintouch_link {
          cursor: pointer;
          font-size: 2rem;
          position: relative;
          white-space: nowrap;
          color: var(--color-text);
        }

        .getintouch_link::before,
        .getintouch_link::after {
          position: absolute;
          width: 100%;
          height: 1px;
          background: currentColor;
          top: 100%;
          left: 0;
          pointer-events: none;
        }

        .getintouch_link::before {
          content: "";
          /* show by default */
        }
        .getintouch_link--iocaste {
          font-family: "Century Gothic";
          overflow: hidden;
          padding: 7px 11px;
          width: fit-content;
        }

        .getintouch_link__graphic {
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          fill: none;
          stroke: #ffffff;
          stroke-width: 1px;
        }

        .getintouch_link__graphic--slide {
          top: -3px;
          stroke-width: 2px;
          transition: transform 0.7s;
          transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
        }

        .getintouch_link:hover .getintouch_link__graphic--slide {
          transform: translate3d(-66.6%, 0, 0);
        }
        span {
          font-weight: bolder;
          font-style: italic;
        }
      }
    }
    .home_about_header {
      font-family: "Kudryashev Headline Sans Web";
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
@media (max-width: 1100px) {
  .aboutus_text {
    font-size: 5.5rem !important;
    span {
      padding-bottom: 0rem !important;
    }
  }
}
